**3.	Which tournament has the highest number of votes?**

Importing required libraries

In [1]:
import pandas as pd
import numpy as np

Reading requierd tables and droping duplicated

In [2]:
MatchVoteInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchVotesInfo.csv')
MatchTournamentInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchTournamentInfo.csv')
MatchVoteInfo_dd = MatchVoteInfo.drop_duplicates (subset = 'match_id')
MatchTournamentInfo_dd = MatchTournamentInfo.drop_duplicates (subset = 'match_id')

**Calculating the votes of each match**

In [ ]:
MatchVoteInfo_dd['total_vote'] = MatchVoteInfo_dd.apply( lambda x : x['home_vote'] + x['away_vote'] , axis = 1)
MatchVoteInfo_dd['tour_id'] = MatchTournamentInfo_dd.apply( lambda x : x['tournament_id']   , axis = 1)
MatchVoteInfo_dd['tour_name'] = MatchTournamentInfo_dd.apply( lambda x : x['tournament_name']  , axis = 1)

In [4]:
MatchVoteInfo_dd.head()

   match_id  home_vote  away_vote  total_vote   tour_id      tour_name
0  12260075       5926       8590       14516  129164.0  Madrid, Spain
1  12260076       7974       1618        9592  129164.0  Madrid, Spain
2  12260077       5378       3602        8980  129164.0  Madrid, Spain
3  12260078       2458       4290        6748  129164.0  Madrid, Spain
4  12260080       2074      11490       13564  129164.0  Madrid, Spain

Calculating number of votes for each tournament

In [5]:
count_tour = pd.DataFrame()
count_tour ['tour_vote'] = MatchVoteInfo_dd.groupby(['tour_id'] )['total_vote'].sum()
count_tour.head()

          tour_vote
tour_id
129164.0     128296
129201.0      44560
129510.0      13746
129514.0      17026
129515.0       1916

**Reporting tournomant with most votes**

In [8]:
max = count_tour['tour_vote'].max()
ID = count_tour['tour_vote'].idxmax()
name = MatchVoteInfo_dd['tour_name'].loc[MatchVoteInfo_dd['tour_id'] == ID].unique()[0]
print(f'{ID} is the id of tournomant with max number of votes and its name is {name}')

129829.0 is the id of tournomant with max number of votes and its name is Rome, Italy