**2.What percentage of games have been played by women?**

Importing required libraries

In [2]:
import pandas as pd
import numpy as np

Reading requierd tables

In [3]:
MatchEventInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchEventInfo.csv')
MatchHomeTeamInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchHomeTeamInfo.csv')
MatchAwayTeamInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchAwayTeamInfo.csv')

**Calculating number of players'win**

droping duplicated data

In [4]:
MatchHomeTeamInfo_dd = MatchHomeTeamInfo.drop_duplicates (subset = 'match_id')
MatchAwayTeamInfo_dd = MatchAwayTeamInfo.drop_duplicates (subset = 'match_id')
MatchEventInfo_dd = MatchEventInfo.drop_duplicates ()

Merging the tables

In [17]:
merged_HW = MatchHomeTeamInfo_dd[['match_id' ,
                                  'player_id' , 'gender']].merge(MatchAwayTeamInfo_dd[['match_id' ,
                                                                            'player_id', 'gender']],
                                                                             on ='match_id').drop_duplicates(subset='match_id')
merged_EHW = merged_HW[['match_id' ,
                        'player_id_x' , 'gender_x', 'player_id_y', 'gender_y']].merge(MatchEventInfo_dd[['match_id',
                                                                                 'winner_code']],
                                                                                  on ='match_id').drop_duplicates(subset='match_id')
merged_EHW = merged_EHW.dropna()
merged_EHW.head()

   match_id  player_id_x gender_x  player_id_y gender_y  winner_code
0  12260075        14486        M       254742        M          2.0
1  12260076       206570        M        90080        M          1.0
2  12260077        46391        M       275923        M          2.0
3  12260078       106755        M       275923        M          1.0
5  12260080       221012        M        57163        M          1.0

Mapping the winner_code values

In [22]:
merged_EHW['winner_id'] = merged_EHW.apply( lambda x : x['player_id_x']  if x['winner_code']==1 else x['player_id_y'] , axis = 1)

In [23]:
merged_EHW.head()

,match_id,player_id_x,gender_x,player_id_y,gender_y,winner_code,winner_id
0,12260075,14486,M,254742,M,2.0,254742
1,12260076,206570,M,90080,M,1.0,206570
2,12260077,46391,M,275923,M,2.0,275923
3,12260078,106755,M,275923,M,1.0,106755
5,12260080,221012,M,57163,M,1.0,221012

Creating a data frame to show the number of player's win

In [ ]:
player = pd.concat ([MatchHomeTeamInfo[['player_id', 'gender']] , MatchAwayTeamInfo[['player_id', 'gender']]]).drop_duplicates(subset = 'player_id')
player['no_win'] = 0
for no in player['player_id']:
    player['no_win'].loc[player['player_id'] == no] = merged_EHW['match_id'].loc[merged_EHW['winner_id'] == no].count()

In [54]:
AVG_W = (player['gender'] == 'F').sum() / len(player['gender'])

**Reporting Percentage of wemon matches**

In [55]:
print (f'{AVG_W} % of matches have been played by women')

0.48299319727891155 % of matches have been played by women