**5.	How many sets are typically played in a tennis match?**

In [1]:
import pandas as pd

Reading requeride tables

In [2]:
PowerInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/PowerInfo.csv')

Creating a data frame which contains match_id and its number of sets played

In [6]:
matches = pd.DataFrame( PowerInfo['match_id'].unique() , columns = ['match_id'])
matches['set_no'] = 0

      match_id  set_no
0     12260075       0
1     12260076       0
2     12260077       0
3     12260078       0
4     12260080       0
...        ...     ...
6653  12384789       0
6654  12384806       0
6655  12384892       0
6656  12384975       0
6657  12385017       0

[6658 rows x 2 columns]

Calculating the number of sets for each match

In [ ]:
for match in matches['match_id'] :
    print(match)
    matches['set_no'].loc[matches['match_id'] == match] = PowerInfo['set_num'].loc[PowerInfo['match_id'] == match].max()
    print (PowerInfo['set_num'].loc[PowerInfo['match_id'] == match].max())

In [17]:
print( f'Tenis matches has typiccally {matches['set_no'].mean()} sets')

Tenis matches has typiccally 2.2976869930910184 sets