**7.What is the average number of aces per match?**

In [1]:
import pandas as pd

Reading requierd tables

In [2]:
PeriodInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/PeriodInfo.csv')

Creating a data frame which contains match_id and its number of aces

In [3]:
matches = pd.DataFrame( PeriodInfo['match_id'].unique() , columns = ['match_id'])
matches['ace_no'] = 0

Calculating the number of aces for each match

In [ ]:
for no in matches['match_id'] :
    ace_count = 0
    ace_count = len(PeriodInfo['statistic_name'].loc[(PeriodInfo['match_id'] == no) &
                                (PeriodInfo['statistic_name'] == 'aces')])
    matches['ace_no'].loc[matches['match_id'] == no] = ace_count

In [36]:
print (f'{matches['ace_no'].mean()} is the average of aces in each match')

6.49257025158158 is the average of aces in each match

In [37]:
matches.head(10)

   match_id  ace_no
0  12260075       3
1  12260076       4
2  12260077       4
3  12260078       8
4  12260080       3
5  12260081       8
6  12260085       3
7  12261594       6
8  12261595       4
9  12261596       4