**6. Which country has produced the most successful tennis players?**

Importing required libraries

In [1]:
import pandas as pd
import numpy as np

Reading requierd tables

In [2]:
MatchEventInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/MatchEventInfo.csv')
MatchHomeTeamInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/MatchHomeTeamInfo.csv')
MatchAwayTeamInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/MatchAwayTeamInfo.csv')

**Calculating number of players'win**

droping duplicated data

In [3]:
MatchHomeTeamInfo_dd = MatchHomeTeamInfo.drop_duplicates (subset = 'match_id')
MatchAwayTeamInfo_dd = MatchAwayTeamInfo.drop_duplicates (subset = 'match_id')
MatchEventInfo_dd = MatchEventInfo.drop_duplicates (subset = 'match_id')

Merging the tables

In [21]:
merged_HW = MatchHomeTeamInfo_dd[['match_id' ,
                                  'player_id',
                                  'country']].merge(MatchAwayTeamInfo_dd[['match_id' ,
                                                                          'player_id', 
                                                                          'country']],
                                                                           on ='match_id').drop_duplicates (subset = 'match_id')
merged_EHW = merged_HW[['match_id' ,
                        'player_id_x',
                        'country_x',
                        'player_id_y',
                        'country_y']].merge(MatchEventInfo_dd[['match_id',
                                                               'winner_code']],
                                                                on ='match_id').drop_duplicates (subset = 'match_id')
merged_EHW = merged_EHW.dropna()
merged_EHW.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4349 entries, 0 to 5252
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match_id     4349 non-null   int64
 1   player_id_x  4349 non-null   int64
 2   country_x    4349 non-null   object
 3   player_id_y  4349 non-null   int64
 4   country_y    4349 non-null   object
 5   winner_code  4349 non-null   float64
dtypes: float64(1), int64(3), object(2)
memory usage: 237.8+ KB

Mapping the winner_country values

In [30]:
merged_EHW['winner_country'] = merged_EHW.apply( lambda x : x['country_x']
                                                 if x['winner_code']==1 
                                                else x['country_y'] , axis = 1)
merged_EHW.head()

,match_id,player_id_x,country_x,player_id_y,country_y,winner_code,winner_id,winner_country
0,12260075,14486,Spain,254742,Czech Republic,2.0,254742,Czech Republic
1,12260076,206570,Italy,90080,Russia,1.0,206570,Italy
2,12260077,46391,Germany,275923,Spain,2.0,275923,Spain
3,12260078,106755,Russia,275923,Spain,1.0,106755,Russia
4,12260080,221012,Argentina,57163,Germany,1.0,221012,Argentina

Find the country with the highest total prize money earned

In [32]:
country = merged_EHW.groupby(['winner_country'])['match_id'].count().idxmax()
max = merged_EHW.groupby(['winner_country'])['match_id'].count().max()
print(f"The country that has produced the most successful tennis players based on total prize money earned is {country} with total prize money of ${max}.")

The country that has produced the most successful tennis players based on total prize money earned is USA with total prize money of $374.