**5.	How many sets are typically played in a tennis match?**

In [1]:
import pandas as pd

Reading requierd tables

In [19]:
PowerInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/PowerInfo.csv')
PowerInfo.shape

(269694, 5)

Creating a data frame which contains match_id and its number of sets played

In [21]:
matches = pd.DataFrame( PowerInfo['match_id'].unique() , columns = ['match_id'])
matches['set_no'] = 0

Calculating the number of sets for each match

In [29]:
for match in matches['match_id'] :
    matches['set_no'].loc[matches['match_id'] == match] = PowerInfo['set_num'].loc[PowerInfo['match_id'] == match].max()

In [30]:
print( f'Tenis matches has typiccally {matches['set_no'].mean()} sets')

Tenis matches has typiccally 2.2976869930910184 sets

In [32]:
matches.describe()

           match_id       set_no
count  6.658000e+03  6658.000000
mean   1.233515e+07     2.297687
std    2.731350e+04     0.512424
min    1.226008e+07     1.000000
25%    1.231208e+07     2.000000
50%    1.233452e+07     2.000000
75%    1.235758e+07     3.000000
max    1.238502e+07     5.000000