**7.What is the average number of aces per match?**

In [2]:
import pandas as pd

Reading requierd tables

In [3]:
PeriodInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/PeriodInfo.csv')

Creating a data frame which contains match_id and its number of aces

In [4]:
matches = pd.DataFrame( PeriodInfo['match_id'].unique() , columns = ['match_id'])
matches['ace_no'] = 0

Calculating the number of aces for each match

In [56]:
ace_data = PeriodInfo[(PeriodInfo['statistic_name'] == 'aces') &
                      (PeriodInfo['period'] == 'ALL')]
ace_data['ace'] = ace_data['home_stat'] + ace_data['away_stat']
ace_data_dd = ace_data.drop_duplicates(subset = 'match_id')
ace_data_dd['ace'] = pd.to_numeric (ace_data_dd['ace'])
ace_data_dd.head()

C:\Users\Maedeh\AppData\Local\Temp\ipykernel_17920\396723609.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ace_data['ace'] = ace_data['home_stat'] + ace_data['away_stat']
C:\Users\Maedeh\AppData\Local\Temp\ipykernel_17920\396723609.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ace_data_dd['ace'] = pd.to_numeric (ace_data_dd['ace'])

,match_id,period,statistic_category_name,statistic_name,home_stat,away_stat,compare_code,statistic_type,value_type,home_value,away_value,home_total,away_total,ace
0,12260075,ALL,service,aces,2,7,2,positive,event,0,0,NaN,NaN,27
54,12260076,ALL,service,aces,5,8,2,positive,event,2,8,NaN,NaN,58
125,12260077,ALL,service,aces,10,3,1,positive,event,14,2,NaN,NaN,103
195,12260078,ALL,service,aces,5,1,1,positive,event,6,0,NaN,NaN,51
266,12260080,ALL,service,aces,1,1,3,positive,event,0,0,NaN,NaN,11

In [57]:
mean = round(ace_data_dd['ace'].mean(),2)
print (f'{mean} is the average of aces in each match')

31.55 is the average of aces in each match