**11.	What is the average duration of matches?**

In [1]:
import pandas as pd

Reading requierde tables

In [2]:
MatchTimeInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/external/MatchTimeInfo.csv')

In [3]:
MatchTimeInfo.head()

,match_id,period_1,period_2,period_3,period_4,period_5,current_period_start_timestamp
0,12260075,3463.0,3855.0,NaN,NaN,NaN,1.714511e+09
1,12260076,3032.0,2121.0,2674.0,NaN,NaN,1.714492e+09
2,12260077,2747.0,3525.0,4074.0,NaN,NaN,1.714492e+09
3,12260078,2519.0,2531.0,2121.0,NaN,NaN,1.714578e+09
4,12260080,2616.0,2766.0,NaN,NaN,NaN,1.714483e+09

**Calculating match duration**

Each finished match should have 2 sets at least ,so the records with less than 2 period have been 
after recognizing finished matches , there are sum duplicated data for several matches that should by droped.

In [90]:
MatchTimeInfo_dd = MatchTimeInfo.drop_duplicates()
MatchTimeInfo_f = MatchTimeInfo_dd.loc[(MatchTimeInfo_dd['period_1'].notnull()) & (MatchTimeInfo_dd['period_2'].notnull())]
MatchTimeInfo_fin = MatchTimeInfo_f.drop_duplicates(subset = [ 'match_id'])
MatchTimeInfo_fin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6636 entries, 0 to 19672
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   match_id                        6636 non-null   int64
 1   period_1                        6636 non-null   float64
 2   period_2                        6636 non-null   float64
 3   period_3                        2009 non-null   float64
 4   period_4                        55 non-null     float64
 5   period_5                        22 non-null     float64
 6   current_period_start_timestamp  6636 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 414.8 KB

Summation the values of period's times and adding it in a new column

In [ ]:
MatchTimeInfo_fin.fillna(0, inplace=True)
MatchTimeInfo_fin ['sum'] = MatchTimeInfo_fin[MatchTimeInfo_fin.columns[1:6]].sum(axis=1)

In [93]:
MatchTimeInfo_fin.head()

,match_id,period_1,period_2,period_3,period_4,period_5,current_period_start_timestamp,sum
0,12260075,3463.0,3855.0,0.0,0.0,0.0,1.714511e+09,7318.0
1,12260076,3032.0,2121.0,2674.0,0.0,0.0,1.714492e+09,7827.0
2,12260077,2747.0,3525.0,4074.0,0.0,0.0,1.714492e+09,10346.0
3,12260078,2519.0,2531.0,2121.0,0.0,0.0,1.714578e+09,7171.0
4,12260080,2616.0,2766.0,0.0,0.0,0.0,1.714483e+09,5382.0

**Reporting the result**

In [95]:
AVG = MatchTimeInfo_fin['sum'].mean()
print(f'The average of match duration is {AVG}')

The average of match duration is 7453.72845087402