**3.	Which player has the highest number of wins?**

According to diffrence betwwen number of unique match_ids in MatchHomeTeamInfo  and MatchAWayTeamInfo tables, another way can be done for calculating the player with highest wins

Importing required libraries

In [1]:
import pandas as pd
import numpy as np

Reading requierd tables

In [2]:
MatchEventInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchEventInfo.csv')
MatchHomeTeamInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchHomeTeamInfo.csv')
MatchAwayTeamInfo = pd.read_csv( 'C:/Users/Maedeh/Desktop/TenisMatchPro/data/interim3/MatchAwayTeamInfo.csv')

Creating a data frame to show the number of player's win

In [102]:
all_players = pd.concat ([MatchHomeTeamInfo , MatchAwayTeamInfo])
player = pd.DataFrame(pd.concat([all_players['player_id'], all_players['name']], axis=1) , columns = ['player_id','name'])
player = player.drop_duplicates (subset = 'player_id')
player['no_win'] = 0

Calculating number of players'win

droping duplicated data and null winner-code and false result matches

In [103]:
MatchHomeTeamInfo_dd = MatchHomeTeamInfo.drop_duplicates (subset = 'match_id')
MatchAwayTeamInfo_dd = MatchAwayTeamInfo.drop_duplicates (subset = 'match_id')
match_result = MatchEventInfo[['match_id' , 'winner_code']].loc[(MatchEventInfo['winner_code'].notnull())].drop_duplicates(subset='match_id')

Calculating the number of wins for each player

In [ ]:
for no in match_result['match_id']:
        winer_code = match_result['winner_code'].loc[match_result['match_id'] == no]
        if int(winer_code) == 1 :
                if MatchHomeTeamInfo_dd['match_id'].isin([no]).any():   
                        PI = int(MatchHomeTeamInfo_dd['player_id'].loc[MatchHomeTeamInfo_dd['match_id'] == no])
                        player['no_win'].loc[player['player_id'] ==  PI] = player['no_win'].loc[player['player_id'] ==  PI] + 1
        if int(winer_code) == 2 :
                if MatchAwayTeamInfo_dd['match_id'].isin([no]).any():   
                        PI = int(MatchAwayTeamInfo_dd['player_id'].loc[MatchAwayTeamInfo_dd['match_id'] == no])
                        player['no_win'].loc[player['player_id'] ==  PI] = player['no_win'].loc[player['player_id'] ==  PI] + 1

Reporting the best player with the most wins

In [105]:
player.describe()

           player_id       no_win
count    2352.000000  2352.000000
mean   228564.081633     2.945578
std    123804.722447     2.667529
min     14414.000000     0.000000
25%    121006.000000     1.000000
50%    223483.500000     2.000000
75%    327054.250000     4.000000
max    510360.000000    18.000000

In [106]:
best_win_no = player['no_win'].max()
best_winer_id = player['player_id'].loc[player['no_win'] == player['no_win'].max()].values[0]
best_winer_name = player['name'].loc[player['no_win'] == player['no_win'].max()].values[0]
print (f'The highest number of wins is {best_win_no} which is gained by {best_winer_name} with {best_winer_id} ID')

The highest number of wins is 18 which is gained by Uchijima M. with 253356 ID